body{
    background-color:blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.My_page{
    background-color: aqua  ;
}
h1{
    font-weight: bold;
    color: darkorange;
}
h2{
    font-weight: bold;
    color: darkgreen;
}
h3{
    font-weight: bold;
    color: darkblue;
}

img{
    width: 500px;
    height: auto;
    border: 5px dotted #555;
    border-radius: 25px;
    margin: 10px 0;
    display: block;
}

ul{
    font-size: 200%;
}

main> ul{
    font-size: 500%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:brown;
}

p{

}

a:hover {
  text-decoration: underline;
}

a {
  color: darkgoldenrod;
  text-decoration: none;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: large;
}

body> header> h1{
    font-size: 600%;
}